.product-manage {
    width: 100%;

    &__type__images {
        &__item {
            height: 40px;
            width: auto;
            padding: 2px;
            border-radius: 2px;
            border: 1px solid rgba(77, 76, 76, 0.219);
            margin: 0 5px;
            cursor: pointer;
        }
    }
}