.admin-login {
    min-height: 100vh;

    &-form {
        width: 500px;
        margin: -5rem auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.336);
        padding: 1rem 2rem 2.3rem 2rem;
        border-radius: 5px;

        button {
            padding: 0 2rem;
            margin-top: 1rem;
        }

    }


}