.header {
    width: 100%;
    height: 85px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 99;
    transition: all 0.3s ease;
}

.logo {
    @media screen and (max-width: 992px) {
        margin: 0 auto;

        img {
            height: 40px !important;
        }
    }
}

.scrolled {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    height: 60px;

    .logo {
        @media screen and (max-width: 992px) {
            margin: 0 auto;
        }

        img {
            margin-left: 20px;
            height: 40px;
        }
    }

}

.logo {

    img {
        height: 50px;
        width: auto;
        transition: all 0.3s ease;

    }
}

a {
    color: inherit;
}

.desktop-menu {
    display: inline-block;
}

.menu-item {
    font-size: 16px;
}

.hot-badge {
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 4px;
}

.header-icons {
    display: inline-block;
}

.mobile-menu-button {
    display: none;
}

@media (max-width: 992px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu-button {
        display: inline-block;
    }

    .header-icons {
        display: none;
    }
}